APP_NAME=MyApp
APP_DEBUG=true
APP_TIMEZONE=America/Bogota

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=my_db_name
DB_USER=my_username
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8_unicode_ci

SQLITE_DATABASE=storage/database.sqlite

FRONT_CACHE_TWIG=false
DEBUG_MODE_TWIG=false
# Duration of the session in seconds (default: 1800 seconds = 30 minutes)
SESSION_TIMEOUT=1800

LOG_ERRORS=true
LOG_ERROR_DETAILS=true
LOG_NAME=slim-app
LOG_LEVEL=Debug
# LOG_PATH=php://stdout

# Storage
#STORAGE_PATH=
